*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title {
    margin: 0.5rem;
}
.nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-links li {
    margin: .5em;
    list-style: none;

}
.nav-links li a{
    text-decoration: none;
    color: white;
}
.nav-links li .btn{
    background-color: blue;
    color: white;
    border: solid 5px black;
    height: 3em;
    width: 10em;
}
